.post {
    margin-bottom: 75px;
    >.list-group {
        >.img-container {
            padding: 0;
            >img {
                width: 100%;
            }
        }
        >.detail-container {
            >.action {
                font-size: 24px;
                padding-left: 10px;
                >.item:nth-child(1) {
                    margin-right: 20px;
                }
                >.item:nth-child(3) {
                    margin-right: 20px;
                    right: 0;
                    position: absolute;
                }
            }
            >.detail {
                display: block;
                padding-left: 14px;
                padding-right: 14px;
                >.view-all {
                    color: #999;
                }
                >.time {
                    color: #999;
                    font-size: 12px;
                    margin-top: 6px;
                }
                >.comment-input {
                    border: none;
                }
            }
        }
    }
}